.listing-card {
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.listing-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-container {
  width: 100%; 
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: brightness(85%);
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.prev-button:hover,
.next-button:hover {
  background-color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

span {
  font-weight: 700;
  font-size: 18px;
}

.favourite {
  position: absolute;
  top: 10px; 
  right: 10px; 
  padding: 8px; 
  border-radius: 50%; 
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  z-index: 1; 
}

.favourite:hover {
  background-color: white;
}

.favourite svg {
  font-size: 24px;
  color: red;
}
